<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
            <a href="{% url 'category_list' %}">Category List</a>
            <a href="{% url 'account_list' %}">Account List</a>
            <a href="{% url 'create_category' %}">Create Category</a>
            <a href="{% url 'create_account' %}">Create Account</a>
            {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>

            {% endif %}
        </nav>

    </header>

    {% block content %}{% endblock content %}




</body>
<footer>Made with love by TWOSHOT BABAYYYYYY</footer>

</html>