{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>Create</h1>
        <p>
            <a href="{% url 'home' %}">Home</a>
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}