{% extends 'base.html' %}

{% block title %}Receipts{%endblock title%}

{% block content %}
<main>

    <h1>My Receipts</h1>

    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        <tbody>
            <tr>
                {% for name in receipt_view %}
                <td>{{name.vendor}}</td>
                <td>{{name.total}}</td>
                <td>{{name.tax}}</td>
                <td>{{name.date|date:"m/d/y"}}</td>
                <td>{{name.category}}</td>
                <td>{{name.account}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </thead>
    </table>

    {% endblock content %}